name: npmjs release 

on:
  workflow_dispatch:
  push:
    branches: [ ci/first-npmjs-release-attempt ]

permissions:
  contents: read   # minimal token permissions
  security-events: write   # required for CodeQL analysis uploads
  pull-requests: write
  actions: write
  statuses: write

jobs:
  build:

    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [lts/*]
        # See supported Node.js release schedule at https://nodejs.org/en/about/releases/

    steps:
    - uses: actions/checkout@v2
      with:
          submodules: recursive
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v4
      with:
        node-version: ${{ matrix.node-version }}
        cache: 'npm'
    - run: node -v && npm -v
    - run: pwd && ls -la && ls -la
    - run: npm ci
    - run: ls -la node_modules/@firebolt-js | sed -n '1,200p'
    - run: npm run fs:setup
    - run: npm run validate:each
    - run: npm run compile
    - run: npm run slice
    - run: npm run validate:compiled
    - run: npm run specification 
    - run: npm run sdks
    - run: npm run test
    - run: npm run docs
    
    - name: Release Firebolt SDKs to NPM
      env:
        NPM_TOKEN: ${{ secrets.SEMANTIC_RELEASE_NPM_TOKEN  }} # <-- Allows semantic-release to publish to npm without 2 factor auth.
      run: |
        npm --version
        npm publish --tag test --workspaces
        npm publish --//registry.npmjs.org/:_authToken=$NPM_TOKEN --tag test --workspaces --access public