name: npmjs release 

on:
  workflow_dispatch:
  push:
    branches: [ ci/first-npmjs-release-attempt ]

permissions:
  contents: read   # minimal token permissions
  security-events: write   # required for CodeQL analysis uploads
  pull-requests: write
  actions: write
  statuses: write

jobs:
  release:
    name: Release
    permissions:
      contents: read
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
          repo-token: ${{ secrets.SEMANTIC_RELEASE_BOT_PAT }}
          persist-credentials: false

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 'lts/*'

      - name: Set up NPM token
        env:
          NPM_TOKEN: ${{ secrets.SEMANTIC_RELEASE_NPM_TOKEN  }} # <-- allow npm publish for each workspace
        run: 'echo "//registry.npmjs.org/:_authToken=${NPM_TOKEN}" > .npmrc'

      - name: Install npm dependencies
        run: |
          npm ci
          npm run dist
      
      - name: Release Firebolt SDKs to NPM
        env:
          NPM_TOKEN: ${{ secrets.SEMANTIC_RELEASE_NPM_TOKEN  }} # <-- Allows semantic-release to publish to npm without 2 factor auth.
        run: |
          npm --version
          npm publish --tag latest --workspaces=@firebolt-js/core-client
          npm publish --tag latest --workspace=@firebolt-js/core-client --access public